@import 'bootstrap/scss/bootstrap.scss';
a {
  text-decoration: none !important;
  border-color: none !important;
}
.pagination .page-item:first-child .page-link, .page-item.disabled .page-link, .pagination .page-link {
  background-color: #141414;
  color:whitesmoke;
}
.page-item.active .page-link {
  background-color: #dc3545;
  border-color: #dc3545 !important;
}